nav {
    border-radius: 30px;
    background-color: white;
    margin: 4px;
}
body {
    background-color: rgba(51, 141, 51, 0.254);
}
#main_div p{
    color: white;
    margin-top: 20px;
    padding: 20px;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}
.copy_right_footer {
    position: fixed;
    color: rgb(87, 87, 87);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: whitesmoke;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(40, 39, 39);
    border-radius: 10px;
}
button {
    font-family: "Indie Flower", cursive;
    font-weight: 450;
    font-style: normal;
}